@use "sass:map";
@use "sass:color";
@use "@catppuccin/palette/scss/catppuccin";

// ---------------------------------------------
// primitives color (custom catppuccin variant)
// ---------------------------------------------

$color_names: (
  // "rosewater",
  // "flamingo",
  // "pink",
  // "mauve",
  "red",
  // "maroon",
  "peach",
  // "yellow",
  "green",
  // "teal",
  // "sky",
  // "sapphire",
  "blue",
  // "lavender",
);

$black: map.get(catppuccin.$palette, "mocha", "crust");
$white: map.get(catppuccin.$palette, "latte", "base");

$mocha_gray: map.get(catppuccin.$palette, "mocha", "overlay1");
$latte_gray: map.get(catppuccin.$palette, "latte", "overlay1");

@mixin generate_color($name, $color, $forground, $background) {
  --color-#{$name}-50: #{color.mix($forground, $color, 90%)};
  --color-#{$name}-100: #{color.mix($forground, $color, 80%)};
  --color-#{$name}-200: #{color.mix($forground, $color, 60%)};
  --color-#{$name}-300: #{color.mix($forground, $color, 40%)};
  --color-#{$name}-400: #{color.mix($forground, $color, 20%)};
  --color-#{$name}-500: #{$color};
  --color-#{$name}-600: #{color.mix($background, $color, 20%)};
  --color-#{$name}-700: #{color.mix($background, $color, 40%)};
  --color-#{$name}-800: #{color.mix($background, $color, 60%)};
  --color-#{$name}-900: #{color.mix($background, $color, 80%)};
  --color-#{$name}-950: #{color.mix($background, $color, 90%)};
}

@mixin latte {
  $palette: map.get(catppuccin.$palette, "latte");
  // mocha gray 800
  $forground: color.mix($black, $mocha_gray, 60%);
  $background: $white;

  --color-black: #{$black};
  --color-white: #{$white};

  // gray
  --color-gray-0: #{$forground};
  @include generate_color("gray", $latte_gray, $forground, $background);
  --color-gray-1000: #{$background};

  // colors
  @each $color_name in $color_names {
    $color: map.get($palette, $color_name);
    @include generate_color($color_name, $color, $forground, $background);
    --color-#{$color_name}-A500: #{color.to-space(color.adjust(color.to-space($color, lch), $hue: 2, $lightness: 10%), rgb)};
  }
}

@mixin mocha {
  $palette: map.get(catppuccin.$palette, "mocha");
  // latte gray 800
  $forground: color.mix($white, $latte_gray, 60%);
  $background: $black;

  --color-black: #{$black};
  --color-white: #{$white};

  // gray
  --color-gray-0: #{$forground};
  @include generate_color("gray", $mocha_gray, $forground, $background);
  --color-gray-1000: #{$background};

  // colors
  @each $color_name in $color_names {
    $color: map.get($palette, $color_name);
    @include generate_color($color_name, $color, $forground, $background);
    --color-#{$color_name}-A500: #{color.to-space(color.adjust(color.to-space($color, lch), $hue: 2, $chroma: 8, $lightness: -10%), rgb)};
  }
}

// ---------------------------------------------
// alias
// ---------------------------------------------

@mixin generate_alias($target_name, $source_name) {
  --color-#{$target_name}-50: var(--color-#{$source_name}-50);
  --color-#{$target_name}-100: var(--color-#{$source_name}-100);
  --color-#{$target_name}-200: var(--color-#{$source_name}-200);
  --color-#{$target_name}-300: var(--color-#{$source_name}-300);
  --color-#{$target_name}-400: var(--color-#{$source_name}-400);
  --color-#{$target_name}-500: var(--color-#{$source_name}-500);
  --color-#{$target_name}-600: var(--color-#{$source_name}-600);
  --color-#{$target_name}-700: var(--color-#{$source_name}-700);
  --color-#{$target_name}-800: var(--color-#{$source_name}-800);
  --color-#{$target_name}-900: var(--color-#{$source_name}-900);
  --color-#{$target_name}-950: var(--color-#{$source_name}-950);
  --color-#{$target_name}-default: var(--color-#{$target_name}-500);
}

@mixin alias {
  --color-neutral-black: var(--color-black);
  --color-neutral-white: var(--color-white);

  --color-neutral-forground: var(--color-gray-0);
  --color-neutral-background: var(--color-gray-1000);

  // neutral
  --color-neutral-0: var(--color-gray-0);
  @include generate_alias("neutral", "gray");
  --color-neutral-1000: var(--color-gray-1000);

  // primary
  @include generate_alias("primary", "blue");
  --color-primary-A500: var(--color-blue-A500);

  // info
  @include generate_alias("info", "blue");
  --color-info-A500: var(--color-blue-A500);

  // success
  @include generate_alias("success", "green");
  --color-success-A500: var(--color-green-A500);

  // warning
  @include generate_alias("warning", "peach");
  --color-warning-A500: var(--color-peach-A500);

  // danger
  @include generate_alias("danger", "red");
  --color-danger-A500: var(--color-red-A500);
}

// ---------------------------------------------
// mapped
// ---------------------------------------------

@mixin mapped_text {
  --text-heading: var(--color-neutral-forground);
  --text-body: var(--color-neutral-forground);
  --text-primary: var(--color-primary-default);
  --text-info: var(--color-info-default);
  --text-success: var(--color-success-default);
  --text-warning: var(--color-warning-default);
  --text-danger: var(--color-danger-default);
  --text-disabled: var(--color-neutral-default);
}

@mixin mapped_action {
  // action primary
  --action-primary-default: var(--color-primary-default);
  --action-primary-hover: var(--color-primary-600);
  --action-primary-focus: var(--color-primary-600);
  --action-primary-active: var(--color-primary-700);
  --action-primary-disabled: var(--color-neutral-default);

  // action info
  --action-info-default: var(--color-info-default);
  --action-info-hover: var(--color-info-600);
  --action-info-focus: var(--color-info-600);
  --action-info-active: var(--color-info-700);
  --action-info-disabled: var(--color-neutral-default);

  // action success
  --action-success-default: var(--color-success-default);
  --action-success-hover: var(--color-success-600);
  --action-success-focus: var(--color-success-600);
  --action-success-active: var(--color-success-700);
  --action-success-disabled: var(--color-neutral-default);

  // action warning
  --action-warning-default: var(--color-warning-default);
  --action-warning-hover: var(--color-warning-600);
  --action-warning-focus: var(--color-warning-600);
  --action-warning-active: var(--color-warning-700);
  --action-warning-disabled: var(--color-neutral-default);

  // action danger
  --action-danger-default: var(--color-danger-default);
  --action-danger-hover: var(--color-danger-600);
  --action-danger-focus: var(--color-danger-600);
  --action-danger-active: var(--color-danger-700);
  --action-danger-disabled: var(--color-neutral-default);

  // action on
  --action-on-default: var(--color-neutral-800);
  --action-on-hover: var(--color-neutral-800);
  --action-on-focus: var(--color-neutral-800);
  --action-on-active: var(--color-neutral-800);
  --action-on-disabled: var(--color-neutral-800);
}

@mixin mapped_surface {
  --surface-base: var(--color-neutral-900);
  --surface-mantle: var(--color-neutral-950);
  --surface-crust: var(--color-neutral-1000);

  --surface-primary: var(--color-primary-900);
  --surface-info: var(--color-info-900);
  --surface-success: var(--color-success-900);
  --surface-warning: var(--color-warning-900);
  --surface-danger: var(--color-danger-900);
  --surface-disabled: var(--color-neutral-700);
}

@mixin mapped_icon {
  --icon-default: var(--color-neutral-forground);
  --icon-primary: var(--color-primary-default);
  --icon-info: var(--color-info-default);
  --icon-success: var(--color-success-default);
  --icon-warning: var(--color-warning-default);
  --icon-danger: var(--color-danger-default);
  --icon-disabled: var(--color-neutral-default);
}

@mixin mapped_border {
  --border-default: var(--color-neutral-forground);
  --border-primary: var(--color-primary-default);
  --border-info: var(--color-info-default);
  --border-success: var(--color-success-default);
  --border-warning: var(--color-warning-default);
  --border-danger: var(--color-danger-default);
  --border-disabled: var(--color-neutral-default);
}

@mixin mapped {
  @include mapped_text;
  @include mapped_surface;
  @include mapped_icon;
  @include mapped_border;
  @include mapped_action;
}
