@use "./scss/color";

.ui-light {
  @include color.latte;
}

.ui-dark {
  @include color.mocha;
}

// -----------------------------------------------
// base
// -----------------------------------------------

:root,
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root {
  @extend .ui-dark;
}

:root {
  @include color.alias;
}

:root {
  @include color.mapped;
}

:root {
  background-color: var(--surface-crust);
  color: var(--text-body);
}
