@use "./scss/color";

// -----------------------------------------------
// base
// -----------------------------------------------

:root,
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

// -----------------------------------------------
// color
// -----------------------------------------------

.ui-light {
  @include color.latte;
}

.ui-dark, :root {
  @include color.mocha;
}

:root {
  @include color.alias;
  @include color.mapped;

  background-color: var(--surface-crust);
  color: var(--text-body);
}
